body {
  background: #ffeeee;
  color: #6d6d6d;
  
  .imagebox {
    width: 350px;
    margin: 0rem 4rem 0rem 4rem;
}
}

.navigation {
  display: flex;
  max-width: 100%;
  margin: 0px auto 23px auto;
  gap: 14rem;
  padding: 1.5rem;
  font-size: 25px;
  border-bottom: 1px solid #6d6d6d;
  color: #ffeeee;
  justify-content: center;
  a {
    color: #6d6d6d;
    text-decoration: none;
  }
}

.sectionbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  padding-top: 2.5rem;

  .profile {
    max-width: 40rem;
  }

    li {
      margin: 0rem 0rem 0.5rem 1rem;
    }

    .underli {
      padding: 0;
      margin: 0rem 0rem 0.5rem 2rem;
      font-size: 14px;
    }
}

h1{
        font-size: 2.5rem;
        margin: 0;
      }

h2 {
  font-size: 20px;
}
